*{
   box-sizing: border-box;margin: 0;
   padding: 0;
}
.contact{
   margin: 30px 40px;
   display: flex;
}
.contact-founduser{
   margin-left: 10px;
}

.contact__btn--edit{
   color:#719FEB;
   border: 1px solid dimgray;
   margin-right: 10px;
   border-radius: 7px;
   padding: 5px 10px;

}
.contact__btn--edit:hover{
   background-color: dodgerblue;
   color: #fff;
}

.contact__btn--deelet{
   color: crimson;
   border-radius: 7px;
   padding: 5px 10px;
   border: 1px solid dimgray;

}
.contact__btn--deelet:hover{
   background-color: crimson;
   color: #fff;
}
.contact-name{
   color:black;
   font-size: 30px;
   font-weight: 700;
   width: 100%;

}

.contact-phone{
   color: blue;
   font-size: 24px;
   cursor: pointer;
   font-weight: 600;

}

span{
   color: #000;
   font-size: 35px; 
   font-weight: 700;
}



